.App {
  text-align: center;
}

.section {
  border: 2px dashed grey;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.locked {
  opacity: 0.5;
}

.unlocked {
  opacity: 1;
  border-color: green;
  background-color: #e6ffed;
}
